<?xml version="1.0"?>
<robot name="base_plate" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="base_plate">
    <visual>
      <origin xyz="0 0 -0.01"/>
      <geometry>
          <box size="1.0 1.0 0.02"/>
      </geometry>
      <material name="base_plate_white">
          <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.01"/>
      <geometry>
        <box size="1.0 1.0 0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_joint" type="fixed">
    <parent link="base_link" />
    <child link = "base_plate" />
    <origin xyz="-0.05 0.3 0" rpy="0 0 0" />
  </joint>

  <!-- Virtual safety walls -->
  <link name="wall1_link">
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="wall1_joint" type="fixed">
    <parent link="base_plate" />
    <child link = "wall1_link" />
    <origin xyz="0 -0.5 0.48" rpy="1.57079632679 0 0" />
  </joint>

  <link name="wall2_link">
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="wall2_joint" type="fixed">
    <parent link="base_plate" />
    <child link = "wall2_link" />
    <origin xyz="0.5 0 0.48" rpy="1.57079632679 0 1.57079632679" />
  </joint>

  <link name="wall3_link">
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="wall3_joint" type="fixed">
    <parent link="base_plate" />
    <child link = "wall3_link" />
    <origin xyz="0 0.5 0.48" rpy="1.57079632679 0 0" />
  </joint>

  <link name="wall4_link">
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1.0 1.0 0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="wall4_joint" type="fixed">
    <parent link="base_plate" />
    <child link = "wall4_link" />
    <origin xyz="-0.5 0 0.48" rpy="1.57079632679 0 1.57079632679" />
  </joint>

</robot>
