<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_cam_tool" default="false" />
  <xacro:arg name="name" default="camera" />
  <xacro:arg name="add_plug" default="false" />
  <xacro:arg name="parent" default="camera_base_link" />
  <xacro:arg name="topics_ns" default="camera" />
  <xacro:arg name="sim_cam" default="false" />
  <xacro:arg name="use_mesh" default="true" />
  <xacro:arg name="publish_pointcloud" default="false"/>

  <xacro:property name="sim_cam" value="$(arg sim_cam)" />
  
  <xacro:if value="${sim_cam}">
    <xacro:arg name="use_nominal_extrinsics" default="true"/>
  </xacro:if>

  <xacro:unless value="${sim_cam}">
    <xacro:arg name="use_nominal_extrinsics" default="false"/>
  </xacro:unless>

  <xacro:include filename="$(find roy_dmp)/urdf/_d435.urdf.xacro" />

  <link name="$(arg parent)" />
  
  <xacro:property name="use_cam_tool" value="$(arg use_cam_tool)" />
  
  <xacro:if value="${use_cam_tool}">
    <joint name="cam_tool" type="fixed">
      <parent link="wrist_3_link"/>
      <child link="camera_base_link"/>
      <origin xyz="0 0 0.01" rpy="0 -1.5707 0"/>
    </joint>
  </xacro:if>

  <xacro:unless value="${use_cam_tool}">
    <link name="cam_support_base_link" />
    <link name="cam_support_1_link" />
    <link name="cam_support_2_link" />

    <joint name="cam_joint_1" type="fixed">
      <parent link="base_link"/>
      <child link="cam_support_base_link"/>
      <origin xyz="-0.55 0.77 0" rpy="0 0 -0.7854"/>
    </joint>

    <joint name="cam_joint_2" type="fixed">
      <parent link="cam_support_base_link"/>
      <child link="cam_support_1_link"/>
      <origin xyz="0.01931 0 0.61" rpy="0 0 0"/>
    </joint>

    <joint name="cam_joint_3" type="fixed">
      <parent link="cam_support_1_link"/>
      <child link="cam_support_2_link"/>
      <origin xyz="0 0 0" rpy="0 0.7854 0"/>
    </joint>

    <joint name="cam_joint_4" type="fixed">
      <parent link="cam_support_2_link"/>
      <child link="camera_base_link"/>
      <origin xyz="0.019 0.0 -0.012" rpy="0 0 0"/>
    </joint>
  </xacro:unless>
  
  <xacro:sensor_d435 parent="$(arg parent)" gazebo="$(arg sim_cam)" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)" name="$(arg name)" topics_ns="$(arg topics_ns)" publish_pointcloud="$(arg publish_pointcloud)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>
</robot>
