<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_nominal_extrinsics" default="false"/>
  <xacro:arg name="add_plug" default="false" />
  <xacro:arg name="use_mesh" default="true" />
  <xacro:arg name="name" default="camera" />
  <xacro:arg name="parent" default="camera_base_link" />
  <xacro:arg name="topics_ns" default="camera" />
  <xacro:arg name="publish_pointcloud" default="false" />
  <xacro:arg name="use_cam_tool" default="false" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <link name="$(arg parent)" />
  
  <xacro:property name="use_cam_tool" value="$(arg use_cam_tool)" />
  
  <xacro:if value="${use_cam_tool}">
    <joint name="cam_tool" type="fixed">
      <parent link="wrist_3_link"/>
      <child link="camera_base_link"/>
      <origin xyz="0 0 0.01" rpy="0 -1.5707 0"/>
    </joint>
  </xacro:if>

  <xacro:unless value="${use_cam_tool}">
    <joint name="cam_tool" type="fixed">
      <parent link="base_link"/>
      <child link="camera_base_link"/>
      <origin xyz="-0.5 0.7 0.18" rpy="0 0.0 -1.0"/>
    </joint>
  </xacro:unless>
  
  <xacro:sensor_d435 parent="$(arg parent)" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)" name="$(arg name)" topics_ns="$(arg topics_ns)" publish_pointcloud="$(arg publish_pointcloud)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>
</robot>
