<?xml version="1.0"?>
<launch>

<!--<node pkg="tf" type="static_transform_publisher" name="cam_tf" args="-0.01 0 0.01 0 -1.5707 3.1415 tool0 camera_base_link 30" />
-->

<arg name="gui" default="false" />
<arg name="rviz" default="false" />
  
 <include file="$(find roy_dmp)/launch/ur3_gazebo_with_dmp.launch">
     <arg name="gui" value="$(arg gui)"/>
     <arg name="gazebo_model_name" value="ur_robot"/>
     <arg name="start_gazebo" value="true"/>
     <arg name="use_cam_tool" value="true" />
    </include> 



  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="10" />
    <arg name="pkg" value="realsense2_description" />
    <arg name="file" value="view_d435i_model_rviz_gazebo.launch" />
    <arg name="value" value="gui:=$(arg gui) rviz:=$(arg rviz) start_gazebo:=false gazebo_model_name:=camera spawn_model:=false parent:=camera_base_link parent_link:=wrist_3_link use_cam_tool:=true"/>
  </include>

<group ns="camera">
</group>

</launch>
