 <launch>
 <node pkg="rosbag" type="record" name="rosbag_record"
       args="record /attached_collision_object
/camera/color/camera_info
/camera/color/image_raw
/camera/depth/color/points
/camera/depth/color/points_filtered
/camera/depth/color/points_sampled
/camera/depth/image_rect_raw
/centroids_marker
/clicked_point
/cluster_marker
/collision_object
/diagnostics
/dynamic_robot_model_server/parameter_updates
/execute_trajectory/cancel
/execute_trajectory/feedback
/execute_trajectory/goal
/execute_trajectory/result
/execute_trajectory/status
/imitated_path
/initialpose
/joint_states
/move_base_simple/goal
/move_group/cancel
/move_group/display_contacts
/move_group/display_planned_path
/move_group/feedback
/move_group/goal
/move_group/monitored_planning_scene
/move_group/ompl/parameter_descriptions
/move_group/ompl/parameter_updates
/move_group/plan_execution/parameter_descriptions
/move_group/plan_execution/parameter_updates
/move_group/planning_scene_monitor/parameter_descriptions
/move_group/planning_scene_monitor/parameter_updates
/move_group/result
/move_group/sense_for_plan/parameter_descriptions
/move_group/sense_for_plan/parameter_updates
/move_group/status
/move_group/trajectory_execution/parameter_descriptions
/move_group/trajectory_execution/parameter_updates
/pcl_manager/bond
/pickup/cancel
/pickup/feedback
/pickup/goal
/pickup/result
/pickup/status
/place/cancel
/place/feedback
/place/goal
/place/result
/place/status
/planning_scene
/planning_scene_world
/robot_model_for_bounding_box
/robot_oriented_bounding_box
/robot_safe_stop
/rosout
/rosout_agg
/tf
/tf_static
/trajectory_execution_event
/ur_hardware_interface/io_states
/ur_hardware_interface/robot_mode
/ur_hardware_interface/robot_program_running
/ur_hardware_interface/safety_mode
/ur_hardware_interface/script_command
/ur_hardware_interface/set_mode/cancel
/ur_hardware_interface/set_mode/feedback
/ur_hardware_interface/set_mode/goal
/ur_hardware_interface/set_mode/result
/ur_hardware_interface/set_mode/status
/ur_hardware_interface/tool_data
/voxel_grid/parameter_descriptions
/voxel_grid/parameter_updates
" />
</launch>
