<launch>
    <node name="laser_filter" pkg="sensor_filters" type="pointcloud2_filter_chain" output="log">
        <rosparam command="load" file="$(find obstacle_avoidance)/config/filter_realsense_d435.yaml" />
        <remap from="~input" to="/camera/depth/color/points" />
        <remap from="~output" to="/camera/depth/color/points_filtered" />
    </node>

    <node name="safety_check_node" pkg="obstacle_avoidance" type="safety_check.py" output="screen">
        
    </node>
</launch>
