<launch>

    <arg name='sim' value='True'/>

    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/camera/depth/color/points" />
    <remap from="~output" to="/camera/depth/color/points_sampled" />
    <rosparam if="$(arg sim)">
      leaf_size: 0.01
    </rosparam>
    <rosparam unless="$(arg sim)">
      leaf_size: 0.01
    </rosparam>
  </node>

  <!--<node name="workspace_filter_node" pkg="obstacle_avoidance" type="workspace_filter.py" output="screen"> 
  </node>-->
  <node name="workspace_filter_node" pkg="obstacle_avoidance" type="workspace_filter_2" output="screen"> 
  </node>

  <node name="laser_filter" pkg="sensor_filters" type="pointcloud2_filter_chain" output="log">
      <rosparam command="load" file="$(find obstacle_avoidance)/config/filter_realsense_d435.yaml" />
      <remap from="~input" to="/camera/depth/color/points_bounded" />
      <remap from="~output" to="/camera/depth/color/points_filtered" />
  </node>

  <!--<node name="safety_check_node" pkg="obstacle_avoidance" type="safety_check.py" output="screen"> 
  </node>-->
  <node name="safety_check_node" pkg="obstacle_avoidance" type="safety_check_2" output="screen"> 
  </node>

</launch>
